* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header */
.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  flex-direction: row;
  height: 5rem;
  padding: 1rem;
}

/* Header form */
.trybewarts-login {
  display: flex;
}

/* Main e form */
main , #evaluation-form {
  display: flex;
}

#evaluation-form {
  width: 675px;
  max-width: 675px;
  border: 1px solid;
  flex-direction: column;
}

#textarea {
  resize: none;
}
